[submodule "files/.config/nvim"]
	path = files/dot-config/nvim-old
	url = git@github.com:burberrymyshirt/kickstart-modular.nvim.git
[submodule "files/.config/suckless/dwmblocks"]
	path = files/dot-config/suckless/dwmblocks
	url = git@github.com:burberrymyshirt/dwmblocks.git
[submodule "files/.config/suckless/dmenu"]
	path = files/dot-config/suckless/dmenu
	url = git@github.com:burberrymyshirt/dmenu-build
[submodule "files/.config/suckless/dwm"]
	path = files/dot-config/suckless/dwm
	url = git@github.com:burberrymyshirt/dwm-build
